@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

/* Common styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f8ff;
}

/* Shared styles */

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.content-title {
  font-size: 3.1rem;
  font-weight: bold;
  color: #000000;
}

.text-style {
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  color: rgb(0, 0, 0, 50%);
}

.common-color {
  color: #e95a08;
}

.btn {
  background-color: #e95a08;
  padding: 19px;
  color: #ffffff;
  border: none;
  text-align: center;
  width: 100%;
}

/* Navbar area styles */

.menu ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu li {
  height: 50px;
}

.menu li a {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 25px;
  text-decoration: none;
  font-size: 1rem;
  color: #8987a1;
  transition: 0.3s;
}

.menu li a:hover {
  color: #113f67;
}

.menu li:first-child {
  margin-right: auto;
}

.menu li:first-child a {
  font-size: 24px;
  font-weight: bold;
  color: #e95a08;
}

.menu li:first-child a:hover {
  color: #555879;
}

.menu li:nth-child(2) {
  font-weight: bold;
  color: #252432;
}

.menu li:last-child a {
  color: #000000;
}

.material-symbols-outlined {
  padding-right: 5px;
}

.menu li:last-child a:hover {
  color: #e95a08;
}

/* Banner area styles */

.banner {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  height: 461px;
}

.banner-left {
  display: flex;
  align-items: flex-end;
}

.banner-title {
  font-size: 4rem;
  font-weight: bold;
  color: #e95a08;
}

.banner-title span {
  color: #000000;
}

.banner-right {
  display: flex;
  align-items: flex-end;
}

/* Plants section area styles */

.plants-content, .latest-deals-content {
  text-align: center;
  margin-top: 120px;
}

.plants-content-descriptin, .latest-deals-descriptin {
  max-width: 888px;
  margin: 16px auto 49px auto;
}

/* Plants items area */

.plants-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 40px 20px;
}

.item {
  max-width: 270px;
}

.item img {
  width: 100%;
}

.item-title,
.item-prise {
  font-size: 1.4rem;
  font-weight: 500;
  color: #111111;
  margin-top: 20px;
  text-align: center;
}

.item-prise {
  font-weight: bold;
  margin: 10px auto 20px auto;
}

/* Plants Lover Section */

.plants-lover {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-top: 210px;
}

.store-img-area {
  position: relative;
}

.store-img img {
  width: 100%;
}

.badge {
  width: 286px;
  position: absolute;
  top: -110px;
  right: -90px;
}

/* Plants Lover Content area */

.plants-lover-content {
  max-width: 540px;
  margin-top: 58px;
}

.plants-lover-title span {
  display: block;
}

.plants-lover-description {
  margin-left: 35px;
}

.plants-lover-description li {
  margin: 20px auto;
}

/* Latest Deals Section styles */

.latest-deals{
    display: grid;
    grid-template-columns: repeat(2, 1fr 2fr);
    gap: 28px;
    margin: 120px auto;
}

/* Latest Deals common styles */

.latest-deals-common{
    place-content: center;
    text-align: center;
    border-radius: 15px;
}

.latest-deals-title{
    font-family: "Noto Serif", serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.latest-deals-btn{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
}

/* Latest Deals left area styles */

.latest-deals-left{
    width: 367px;
    display: grid;
    gap: 25px;
}

.bloom-plant{
    height: 201px;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url(../assets/deal-bloom.png) no-repeat;
    background-size: cover;
}

.ana-plant{
    height: 197px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/deal-ana.png) no-repeat;
    background-size: cover;
}

/* Latest Deals right area styles */

.latest-deals-right{
    width: 753px;
}

.zabo-plant{
    height: 423.13px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/deal-zabo.png) no-repeat;
}

.zabo-title{
    font-size: 2.5rem;
}

.zabo-btn{
    font-size: 1.8rem;
}



/* Responsive for Mobile Devices */

@media screen and (max-width: 576px) {
  /* Responsive for Navbar area */
  .hideOnMobile {
    display: none;
  }

  /* Responsive for Banner section */
  .banner {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 50px;
  }

  .banner-left {
    margin-top: 28px;
    padding: 0 15px;
  }

  .banner-title {
    font-size: 1.5rem;
    line-height: 35px;
  }

  .banner-description {
    font-size: 1rem;
    margin-top: 10px;
  }

  .banner-right img {
    width: 100%;
  }

  /* Responsive for Plants section */

  .plants-content-descriptin {
    padding: 0 30px;
  }

  .plants-items {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Responsive for Plants Lover Section */

  .plants-lover {
    flex-direction: column;
    margin-top: 72px;
    gap: 10px;
  }

  .store-img-area img {
    width: 100%;
  }

  .plants-lover-content {
    width: 100%;
    margin-top: 20px;
  }

  .plants-lover-title span {
    display: inline;
  }

  /* common styles */

  .plants-content-title, .plants-lover-title, .latest-deals-content-title {
    font-size: 1.8rem;
  }

  .plants-content-descriptin, .plants-lover-description, .latest-deals-descriptin {
    font-size: 1rem;
  }

  /* Responsive for Latest Deals Section */

  .latest-deals{
        grid-template-columns: repeat(1, 1fr);
        margin: 50px auto;
    }

    .latest-deals-descriptin{
        width: 336px;
    }

    .latest-deals-title, .zabo-title{
        font-size: 1.25rem;
    }

    .latest-deals-btn, .zabo-btn{
        font-size: 1rem;
    }

    .latest-deals-left{
        width: 100%;
    }

    .bloom-plant, .ana-plant{
        height: 184.5px;
    }

    .ana-plant{
      border-radius: 15px 0px 0px 0px;
    }

    .latest-deals-right{
        width: 100%;
    }

    .zabo-plant{
        height: 172px;
    }

}

/* Responsive for Tablet Devices */

@media screen and (min-width: 576px) and (max-width: 768px) {
  /* Responsive for Navbar area */
  .header {
    background-color: #fbf5de;
    top: 0;
    position: sticky;
  }

  .hideOnMobile {
    display: none;
  }

  /* Responsive for Banner section */
  .banner {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 50px;
  }

  .banner-left {
    margin-top: 28px;
    padding: 0 15px;
  }

  .banner-title {
    font-size: 2rem;
    text-align: center;
  }

  .banner-description {
    font-size: 1.4rem;
    margin-top: 10px;
    text-align: justify;
  }

  .banner-right img {
    width: 100%;
  }

  /* Responsive for Plants section */

  .plants-content-descriptin {
    padding: 0 30px;
  }

  .plants-items {
    grid-template-columns: repeat(2, 1fr);
  }

  .item {
    max-width: 384px;
  }

  /* Responsive for Plants Lover Section */

  .plants-lover {
    flex-direction: column;
    margin-top: 72px;
    gap: 10px;
  }

  .store-img-area img {
    width: 100%;
  }

  .plants-lover-content {
    max-width: 768px;
    margin-top: 20px;
    text-align: justify;
    padding-right: 10px;
  }

  .plants-lover-title span {
    display: inline;
  }

  /* Responsive for Latest Deals Section */

  .latest-deals{
        grid-template-columns: repeat(1, 1fr);
        margin: 50px auto;
    }

    .latest-deals-title, .zabo-title{
        font-size: 1.25rem;
    }

    .latest-deals-btn, .zabo-btn{
        font-size: 1rem;
    }

    .latest-deals-left{
        width: 100%;
    }

    .bloom-plant, .ana-plant, .zabo-plant {
        height: 197px;
    }

    .latest-deals-right{
        width: 100%;
    }

}

/* Responsive for Large Devices */

@media screen and (min-width: 768px) and (max-width: 992px) {
  /* Responsive for Navbar area */
  .header {
    background-color: #fbf5de;
    top: 0;
    position: sticky;
  }

  /* Responsive for Banner section */
  .banner {
    padding-left: 30px;
  }

  .banner-left {
    width: 80%;
  }

  .banner-right img {
    width: 100%;
  }

  .banner-title {
    font-size: 2rem;
  }

  .banner-description {
    font-size: 1.4rem;
    margin-top: 10px;
    text-align: justify;
  }

  /* Responsive for Plants section */

  .plants-items {
    grid-template-columns: repeat(3, 1fr);
  }

  .item {
    max-width: 340px;
  }

  /* Responsive for Plants Lover Section */

  .plants-lover {
    flex-direction: column;
    margin-top: 72px;
    gap: 10px;
  }

  .store-img-area img {
    width: 100%;
  }

  .badge{
    display: none;
  }

  .plants-lover-content {
    max-width: 992px;
    margin-top: 20px;
    text-align: justify;
    padding-right: 10px;
  }
  
  .plants-lover-title span {
    display: inline;
    color: #e95a08;
  }

  /* Responsive for Latest Deals Section */

  .latest-deals{
        grid-template-columns: repeat(1, 1fr);
        margin: 50px auto;
    }

    .latest-deals-title, .zabo-title{
        font-size: 3rem;
    }

    .latest-deals-btn, .zabo-btn{
        font-size: 2rem;
    }

    .latest-deals-left{
        width: 100%;
    }

    .bloom-plant, .ana-plant, .zabo-plant {
        height: 350px;
        background-size: cover;
    }

    .latest-deals-right{
        width: 100%;
    }

}

@media screen and (min-width: 992px) and (max-width: 1139px) {

  .latest-deals-left{
    width: 330px;
  }

  .latest-deals-right{
    width: 640px;
  }
  
}
